<nav class="navbar">
  <div class="title">
    <a class="navbar-brand">Gestione tavoli</a>
  </div>
  <h1 class="separatore"></h1>
  <div class="buttons">
    <button (click)="tavoloS.dragAttivo = !tavoloS.dragAttivo" class="button-sposta-tavoli"> {{tavoloS.dragAttivo?"Fine":"Sposta"}}</button>
    <button class="button-nuovo-tavolo" (click)="salvaTavolo()">Nuovo Tavolo</button>
    <button class="button-sidebar" (click)="openSidebar()">Sidebar</button>
    <button class="button-prodotti" (click)="nuovoProdottoDialog()">Aggiungi Nuovo Prodotto</button>

    <div class="sidebar-backdrop" *ngIf="isOpen" (click)="closeSidebar()"></div>

    <div class="tavolo-sidebar" [class.open]="isOpen">
      <div class="tavolo-sidebar-header">
        <h3>Aggiungi Tavolo</h3>
        <p>Seleziona la forma e la dimensione del tavolo che vuoi aggiungere</p>
        <button class="close-btn" (click)="closeSidebar()">×</button>
      </div>
      <form></form>
    </div>

    <div class="modal" *ngIf="mostraDialog">
      <div class="modal-content">
        <span class="close" (click)="chiudiProdDialog()">&times;</span>
        <h2>Crea Nuovo Prodotto</h2>
        <form (ngSubmit)="creaProdotto()">
          <div class="form-group">
            <label for="nome">Nome Prodotto:</label>
            <input id="nome" type="text" [(ngModel)]="nuovoProdotto.nome" name="nome" required />
          </div>
          <div class="form-group">
            <label for="prezzo">Prezzo:</label>
            <input id="prezzo" type="number" [(ngModel)]="nuovoProdotto.prezzo" name="prezzo" required />
          </div>
          <div class="form-group">
            <label for="tipologia">Tipologia:</label>
            <select id="tipologia" [(ngModel)]="nuovoProdotto.Tip" name="tipologia" required>
              <option *ngFor="let tipi of Object.values(Tip)" [value]="tipi">{{ tipi }}</option>
            </select>
            <label for="intolleranze">Intolleranze:</label>
            <select id="intolleranze" [(ngModel)]="nuovoProdotto.intolleranze" name="intolleranze" required>
              <option *ngFor="let intolleranza of Object.values(Intolleranze)" [value]="intolleranza">{{ intolleranza }}</option>
            </select>
          </div>
          <div class="modal-actions">
            <button type="button" (click)="chiudiProdDialog()">Annulla</button>
            <button type="submit">Crea</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</nav>

