<body>
  <main>
    <div
      *ngFor="let tavolo of tavoli"
      cdkDrag
      [cdkDragDisabled]="!tavoloS.dragAttivo"
      class="app-tavolo"
      [cdkDragFreeDragPosition]="{ x: tavolo.x, y: tavolo.y }"
      (cdkDragEnded)="onDragEnded($event, tavolo)">

      <div [style.background-color] = "coloriTavolo[tavolo.occupato]"
           [ngClass]="{'Rotondo': tavolo.forma == Forma.ROTONDO, 'Quadrato': tavolo.forma == Forma.QUADRATO, 'Rettangolare': tavolo.forma == Forma.RETTANGOLARE,
           'Piccolo': tavolo.dimensione == Dimensione.PICCOLO, 'Medio': tavolo.dimensione == Dimensione.MEDIO, 'Grande': tavolo.dimensione == Dimensione.GRANDE}"
           class="app-tavolo-container">

        <div class="app-tavolo-stato">
          {{ tavolo.occupato === 0 ? 'Libero' : tavolo.occupato === 1 ? 'Prenotato' : 'Occupato' }}
        </div>
        <h1 class="app-tavolo-numero">{{tavolo.numeroTavolo}} </h1>
        <div class="menu-dropdown">
          <ul>
            <li>
              <h1 class="app-tavolo-posti">Posti : {{tavolo.posti}}</h1>
            </li>
            <li>
              <button class="button-stato" (click)="cambiaStato(tavolo)">
                Cambia stato
              </button>
            </li>
            <li>
              <button class="button-ordine-open" (click)="openModal()">Ordina</button>
            </li>
            <li>
              <button class="button-ordine" (click)="mostraDialog=true">Modifica</button>
              <div class="modal" *ngIf="mostraDialog">
                <div class="modal-content">
                  <span class="close" (click)="chiudiProdDialog()">&times;</span>
                  <form (ngSubmit)="cambioNumero(tavolo)">
                    <div class="form-group">
                      <label for="numero">Nuovo Numero Tavolo:</label>
                      <input id="numero" type="text" [(ngModel)]="nuovoNumero" name="numero" required />
                    </div>
                    <div class="modal-actions">
                      <button type="button" (click)="chiudiProdDialog()">Annulla</button>
                      <button type="submit">Modifica</button>
                    </div>
                  </form>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <button class="button-cancella" (click)="cancellaTavolo(tavolo)">x</button>
      </div>
    </div>
  </main>
</body>
