body
{
  background-color: #222438;
  margin: 0;
  font-family: Poppins, sans-serif;
}

main
{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image:
    repeating-linear-gradient(to right, transparent 0 50px, #fff1 50px 51px),
    repeating-linear-gradient(to bottom, transparent 0 50px, #fff1 50px 51px);
}

.app-tavolo {
  position: absolute;
  width: 160px;
  height: 80px;
  background-color: #1976d2;
  color: white;
  text-align: center;
  line-height: 80px;
  border-radius: 8px;
  cursor: move;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: box-shadow 0.2s;
}
.app-tavolo:active {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}
