body
{
  position: relative;
  background-color: #222438;
  margin: 0;
  font-family: Poppins, sans-serif;
}

main
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #5c4033;
  background-image: linear-gradient(to right, rgba(0,0,0,0.2) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(0,0,0,0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: 0;
}

.app-tavolo-numero
{
  position: absolute;
}

.app-tavolo-stato
{
  position: absolute;
  top: 10%;
}

.app-tavolo-posti
{
  margin: 5px 0 5px 0;
  font-size: 20px;
}

.button-cancella
{
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border-radius: 5px;
}

.app-tavolo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  border-radius: 6px;
  cursor: move;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: transform 0.002s ease;
  transform: translateZ(0);
}

.Rotondo
{
  border-radius: 50%;
}

.Piccolo
{
  width: 80px;
  height: 80px;
}
.Medio
{
  width: 120px;
  height: 120px;
}
.Grande
{
  width: 160px;
  height: 160px;
}
.Piccolo.Rettangolare
{
  width: 100px;
  height: 60px;
}
.Medio.Rettangolare
{
  width: 160px;
  height: 100px;
}
.Grande.Rettangolare
{
  width: 200px;
  height: 140px;
}

.menu-dropdown {
  display: none; /* Nascosto per default*/
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #2c3e50;
  padding: 8px 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #2c3e50;
  border-radius: 10px;
  z-index: 9999;
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown li {
  display: inline-block;
  margin-right: 10px; /* Spazio tra i pulsanti */
}

/* Pulsanti */
.menu-dropdown button {
  background-color: #34495e; /* Grigio scuro */
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 80px;
  padding: 5px;
  margin: 5px 0 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.menu-dropdown button:hover {
  background-color: #e67e22; /* Arancione raffinato */
}

.app-tavolo:hover .menu-dropdown {
  display: block;
  z-index: 100;
}
.sala-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* Azioni del modal */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-actions button {
  padding: 8px 12px;
  cursor: pointer;
}

