<nav class="navbar">
  <ul>
    <li *ngFor="let tipo of tipologie">
      <button (click)="selezionaTipologia(tipo)"
        [class.active]="tipo===tipologiaSelezionata">
        {{ tipo }}
      </button>
    </li>
  </ul>
  <button (click)="openCart()">Carrello</button>
</nav>

<div class="piatti-container" *ngIf="tipologiaSelezionata">
  <h2>{{ tipologiaSelezionata }}</h2>
  <ul>
    <li *ngFor="let prodotto of piattifiltrati">{{prodotto.nome}} {{prodotto.prezzo | currency:'EUR':'symbol'}}
      <button (click)="modificaPrezzo(prodotto.id)">Cambia Prezzo</button>
      <button (click)="eliminaProdotto(prodotto.id)">Elimina Prodotto</button>
      <button (click)="aggiungiAlCarrello(prodotto)">Aggiungi al Carrello</button>
    </li>


  </ul>

</div>
<div *ngIf="piattifiltrati.length===0">
    <p>Nessun prodotto disponibile per la tipologia selezionata</p>
</div>

<button (click)="toggleNota()">Nota</button>

<div *ngIf="spaziatoreAttivo" style="
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
    width: 300px;
">
  <textarea #annotazioneTextarea placeholder="Scrivi un'annotazione" rows="4" style="width: 100%;"></textarea>
  <br />
  <button (click)="salvaAnnotazione()">Salva Annotazione</button>
</div>
<div *ngIf="annotazione.length > 0" style="margin-top: 1rem; border-top: 1px solid #ccc; padding-top: 1rem;">
  <h4>Annotazioni</h4>
  <ul>
    <li *ngFor="let nota of annotazione">{{ nota }}</li>
  </ul>
</div>

<div class="cart-backdrop" *ngIf="isOpen" (click)="closeCart()"></div>

<div class="cart-sidebar" [class.open]="isOpen">
  <div class="cart-header">
    <h3>Il Tuo Carrello</h3>
    <button class="close-btn" (click)="closeCart()">×</button>
  </div>
  <div class="cart-content">

    <p>1</p>
    <p>2</p>

  </div>
  <button class="close-btn" >Ordina</button>
</div>
<div *ngIf="isOpen" class="carrello">
  <h3>Carrello</h3>
  <ul>
    <li *ngFor="let item typeof carrello">
      {{ item.nome }} - {{ item.prezzo | currency }}
    </li>
  </ul>
  <button (click)="closeCart()">Chiudi</button>
</div>
<div *ngFor="let prodotto of prodotto">
  <span>{{ prodotto.nome }}</span>
  <button (click)="aggiungiAlCarrello(prodotto)">Aggiungi al carrello</button>
</div>

<hr>

<h3>Carrello</h3>
<ul>
  <li *ngFor="let item of carrello">
    {{ item.nome }} - {{ item.prezzo | currency }}
  </li>
</ul>


<button (click)="openCart()">Apri Carrello</button>



<app-prodotti  #cart #prodottiComponent></app-prodotti>

